.dashboard-wrapper {
    padding: 0.5em 1em;
}

.main-title {
    font-weight: bolder;
    color: #BF202F;
}

.profile-wrapper {
    border-collapse: separate;
    padding: 0.25em 0.75em;
    border-radius: 3mm !important;
}
