a.red {
    color: #BF202F;
}

.dashboard-wrapper {
    padding: 0.5em 1em;
}

.dashboard-icon {
    height: 40px;
    widows: 40px;
    display: inline-block;
    padding-bottom: 9px;
}

.dashboard-title {
    font-weight: bolder;
    color: #BF202F;
    letter-spacing: 0.5px;
}
