<div class="dashboard-wrapper text-left">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mx-auto">
            <h1 class="dashboard-title text-left">
                Dashboard
                <svg class="dashboard-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.061 37.061"><path d="M4.5,25.09H20.972V4.5H4.5Zm0,16.472H20.972V29.208H4.5Zm20.59,0H41.561V20.972H25.09Zm0-37.061V16.854H41.561V4.5Z" transform="translate(-4.5 -4.5)" fill="#bf202f"/></svg>
            </h1>
        </div>
        <div class="col-lg-6 col-sm-12 mx-auto"></div>

        <div class="col-lg-4 col-sm-12 mx-auto mb-3">
            <div class="profile-wrapper shadow bg-white rounded login-for mb-3">
                <div class="row">
                    <div class="col-8">
                        <h2 class="font-weight-bold">Hello, {{ this.user.displayName }}!</h2>
                        <p class="profile-greeting-subtext">Last login: {{ this.user.metadata.lastSignInTime | date: 'short' }}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20" viewBox="0 0 40.5 35.993">
                            <a xlink:href="/">
                                <path d="M28.308,5.85l6.342,6.342a.687.687,0,0,1,0,.97L19.294,28.519l-6.525.724a1.368,1.368,0,0,1-1.512-1.512l.724-6.525L27.337,5.85A.687.687,0,0,1,28.308,5.85ZM39.7,4.24,36.267.809a2.75,2.75,0,0,0-3.881,0L29.9,3.3a.687.687,0,0,0,0,.97l6.342,6.342a.687.687,0,0,0,.97,0L39.7,8.121a2.75,2.75,0,0,0,0-3.881ZM27,24.342V31.5H4.5V9H20.658a.865.865,0,0,0,.6-.246l2.813-2.812a.844.844,0,0,0-.6-1.441H3.375A3.376,3.376,0,0,0,0,7.875v24.75A3.376,3.376,0,0,0,3.375,36h24.75A3.376,3.376,0,0,0,31.5,32.625V21.53a.845.845,0,0,0-1.441-.6l-2.812,2.813A.865.865,0,0,0,27,24.342Z" transform="translate(0 -0.007)" fill="#bf202f"/>
                                <rect fill="transparent" width="40" height="40"></rect>
                            </a>
                        </svg>
                    </div>
                    <div class="col-4">
                        <img *ngIf="this.user.photoURL; else defaultAvatar" class="w-100" src="this.user.photoURL"/>
                        <ng-template #defaultAvatar>
                            <img class="w-100" src="assets/default-avatar.png"/>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="profile-wrapper shadow bg-white rounded login-for mb-2">
                <h2 class="font-weight-bold">Organizations</h2>
                <div *ngIf="this.userOrgs && this.userOrgs.length > 0; else loadingIcon" class="list-group orglink">
                    <button
                        *ngFor="let org of this.userOrgs"
                        class="list-group-item shadow-sm p-3 mb-5 bg-white rounded btn btn-link btn-block orglink-item"
                        [ngStyle]="this.getOrglinkItemBackgroundCss(org.photoBackground)"
                        (click)="onClickOrglinkItem(org)"
                    >
                        <div class="orglink-item-photo-wrapper">
                            <img class="orglink-item-photo" src="{{ org.photoURL }}"/>
                        </div>
                        <span class="orglink-item-name">{{ org.name }}</span>
                    </button>
                </div>
                <ng-template #loadingIcon>
                    <div class="text-center">
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                </ng-template>
            </div>
            <a routerLink="/" class="float-right red">Add an organization&nbsp;&nbsp;→</a>
        </div>

        <div class="col-lg-6 col-sm-12 mx-auto">
            <div class="profile-wrapper shadow bg-white rounded login-for mb-2">
                <h2 class="font-weight-bold">Activity Feed</h2>
                <div class="text-center">
                    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div>
                <a routerLink="/" class="float-right red">See more activity&nbsp;&nbsp;→</a>
            </div>
        </div>
    </div>
</div>
