.dashboard-wrapper {
    padding: 0.5em 1em;
}

.main-title {
    font-weight: bolder;
    color: #BF202F;
}

.profile-wrapper {
    border-collapse: separate;
    padding: 0.25em 0.75em;
    border-radius: 3mm !important;
}

.profile-greeting-subtext {
    font-weight: 100;
}

.dashboard-icon {
    height: 30px;
    margin-top: 8px;
    margin-left: 2px;
    position: absolute;
}

.dashboard-header {
    margin-left: -15px;
    letter-spacing: 0.5px;
}