<div class="dashboard-wrapper text-left">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mx-auto">
            <h1 class="dashboard-title text-left">
                Dashboard
                <svg class="dashboard-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.061 37.061"><path d="M4.5,25.09H20.972V4.5H4.5Zm0,16.472H20.972V29.208H4.5Zm20.59,0H41.561V20.972H25.09Zm0-37.061V16.854H41.561V4.5Z" transform="translate(-4.5 -4.5)" fill="#bf202f"/></svg>
            </h1>
        </div>
        <div class="col-lg-6 col-sm-12 mx-auto"></div>

        <div class="col-lg-4 col-sm-12 mx-auto mb-3">
            <app-user-profile-pane></app-user-profile-pane>
            <app-organization-select-pane></app-organization-select-pane>
            <div class="red-link-wrapper">
                <a routerLink="/" class="float-right red ">Add an organization&nbsp;&nbsp;→</a>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12 mx-auto">
            <app-activity-feed-pane></app-activity-feed-pane>
        </div>
    </div>
</div>
