<div class="view-wrapper">
    <app-inventory-panel-header title="Add Product"></app-inventory-panel-header>
    <div class="row">
        <div class="col-lg-5 col-sm-12 mx-auto">
            <app-add-existing-product-pane></app-add-existing-product-pane>
        </div>
        <div class="line-wrapper">
            <div class="vertical-line"></div>
            <div class="text-wrapper">
                <div class="vertical-line-text">- OR -</div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 mx-auto">
            <app-create-new-product-pane></app-create-new-product-pane>
        </div>
    </div>
</div>
