.title {
    margin-bottom: 0.5em;
    font-weight: bolder;
}

.login-form {
    background-color: #f0f0f0;
    width: 50%;
    margin-left: 0;
    margin-right: auto;
}

.submitBtn {
    float: right;
    width: 6em;
}

.error {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.75em;;
    margin-left: 0.5em;
    color: #BF202F;
    font-size: 10pt;
}

.success {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.75em;;
    margin-left: 0.5em;
    color: green;
    font-size: 10pt;
}

.form-body{
    padding: 10px 15px 50px;
}
