<form [formGroup]="passwordChangeForm" (ngSubmit)="onPasswordChange()" class="shadow bg-white rounded login-form">
    <div class="form-body">
        <div class="text-center">
            <h2 class="title">Change password</h2>
        </div>
        <div class="form-group">
            <input type="password" formControlName="oldPassword" class="form-control" placeholder="Current password" />
        </div>
        <div class="form-group">
            <input type="password" formControlName="newPassword" class="form-control" placeholder="New password" />
        </div>
        <div class="form-group">
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password"/>
        </div>
        <span *ngIf="newPassword.invalid && newPassword.dirty" class="error">Password must be at least 6 characters</span>
        <span *ngIf="newPassword.dirty && confirmPassword.dirty && !passwordDoesMatch" class="error">Passwords do not match!</span>
        <span *ngIf="updateSuccessful" class="success">Update Successful!</span>
        <span *ngIf="!updateSuccessful" class="error">{{ errorMessage }}</span>
        <button [disabled]="passwordChangeForm.invalid || !passwordDoesMatch" type="submit" class="btn btn-danger submitBtn">Submit</button>
    </div>
</form>
