.profile-wrapper {
    border-collapse: separate;
    padding: 0.25em 0.75em;
    border-radius: 3mm !important;
    margin-bottom: 25px !important;
}

.orglink-item {
    padding: 0 !important;
    border-radius: 20px !important;
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 10px !important;
    text-align: left;
}

.orglink-item-photo-wrapper {
    display: inline-block;
    padding: 5px 0px;
    width: 20%;
    text-align: center;
}

.orglink-item-photo {
    object-fit: contain;
    height: 60px;
    border-radius: 50%;
}

.orglink-item-name {
    display: inline-block;
    margin-left: 2em;
    vertical-align: middle;
}

.red-link-wrapper {
    margin-top: -15px;
}

a.red {
    color: #BF202F;
}
