<div class="personnel-wrapper">
    <app-inventory-panel-header title="Personnel"></app-inventory-panel-header>
    <div *ngIf="employees" class="row mt-5">
        <div class="col-lg-5 col-md-5 col-sm-11 mx-auto">
            <h3>Employees:</h3>
            <p *ngIf="employees.length == 0">You have no employees!</p>
            <ul class="col-12 mt-2" *ngFor="let employee of employees">
                <li class="list-group-item d-flex justify-content-around" [ngClass]="{'inactive' : employee.status !== 'Active'}">
                  <div class="p-2">Name: {{employee.displayName}}</div>
                  <div class="p-2">Position: <span class="correct">{{employee.position}}</span></div>
                  <button *ngIf="employee.status == 'Active'" class="btn btn-danger" (click)="fireEmployee(employee)">Fire</button>
                </li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-11 mx-auto">
            <h3>Invite new employee:</h3>
            <form *ngIf="inviteState">
                <div class="form-group">
                    <input class="form-control" placeholder="Invitee email" [(ngModel)]="inviteeEmail" name="inviteeEmail"/>
                </div>
                <button class="btn btn-success" (click)="inviteEmployee(inviteeEmail)">Send invite</button>
            </form>
            <div *ngIf="!inviteState">
                <p>You have invited {{inviteeEmail}}</p>
                <button class="btn btn-primary" (click)="invite()">Invite another</button>
            </div>
        </div>
    </div>
</div>
