.page-wrapper {
    height: 70vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.title {
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(80, 80, 80);
}
.separator::before {
    margin-right: 0.5em;
    margin-left: 3em;
}
.separator::after {
    margin-left: 0.5em;
    margin-right: 3em;
}

.resend-btn {
    text-align: center;
    width: 32.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-weight: bold;
}

.user-email {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    font-size: 18px;
}
