<div class="page-wrapper">
    <div class="logo-wrapper">
        <img class="logo" src="/assets/logo.png" />
    </div>
    <h1 class="title">Welcome to InvenTurbo!</h1>
    <p *ngIf="user">Please check your mailbox at <a href="mailto:{{ user.email }}" class="user-email">{{ user.email }}</a> for the email verification link.</p>
    <div class="separator">OR</div>
    <button [ngClass]="resendBtnClasses" (click)="onResendVerificationEmail()" [disabled]="resendBtnDisabled">{{ this.resendBtnMessage }}</button>
    <!-- <p>Click <a class="red" routerLink="/dashboard">here</a> to proceed after verifying your account.</p> -->
</div>
