<div class="location-panel-wrapper">
    <app-inventory-panel-header title="Location"></app-inventory-panel-header>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
            <app-location-list-pane
                [locations]="locations"
                [selectedLocation]="selectedLocation"
                (selectedLocationChange)="selectLocation($event)"
                (newLocationAdd)="addLocation($event)"
                (existingLocationUpdate)="updateLocation($event)"
                (existingLocationDelete)="deleteLocation($event)"
            ></app-location-list-pane>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 mx-auto">
            <app-location-map
                [locations]="locations"
                [selectedLocation]="selectedLocation"
                (selectedLocationChange)="selectLocation($event)"
            ></app-location-map>
        </div>
    </div>
</div>
