.right-nav > .nav-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.logo {
    height: 3em;
    margin: -0.25em 0 0 12.5vw;
}

a {
    color: #707070;
}

.primary-btn {
    color: white;
    font-weight: bold;
    width: 10em;
}

.setting {
    margin-top: 0.15em;
}

.setting:focus {
    box-shadow: none;
}

.logout {
    color: #007bff;
}

.dropdown-divider {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width: 80%;
}

.right-nav {
    margin: 0 !important;
}
