.right-nav > .nav-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.logo {
    height: 3em;
    margin: -0.25em 0 0 9em;
}

a {
    color: #707070;
}

.register {
    color: white;
    font-weight: bolder;
    border-radius: 2cm;
    width: 10em;
}
