<nav class="navbar navbar-expand shadow-sm bg-white rounded">
    <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">
            <img class="logo" src="../../../../assets/logo.png" />
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav nav mx-auto center-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/solutions">Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
        <ul class="navbar-nav nav justify-content-end ml-auto right-nav" [ngSwitch]="this.isAuthenticated">
            <li class="nav-item" *ngSwitchCase="false">
                <a class="nav-link log" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" *ngSwitchCase="false">
                <a class="nav-link btn btn-danger primary-btn" routerLink="/register">Get Started</a>
            </li>
            <li class="nav-item" *ngSwitchCase="true">
                <button class="btn btn-link log" (click)="logout()" >Logout</button>
            </li>
            <li class="nav-item" *ngSwitchCase="true">
                <a class="nav-link btn btn-success primary-btn" routerLink="/dashboard">My Dashboard</a>
            </li>
        </ul>
    </div>
</nav>
