.right-nav > .nav-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.logo {
    height: 3em;
    margin: -0.25em 0 0 12.5vw;
}

a {
    color: #707070;
}

.primary-btn {
    color: white;
    font-weight: bold;
    width: 10em;
}

.log {
    margin-top: 0.15em;
}

.right-nav {
    margin: 0 !important;
}
