.inventory-panel-wrapper {
    padding: 2em 1em;
    text-overflow: unset !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.panel-wrapper {
    border-collapse: separate;
    padding: 0.25em 0.75em;
    margin-bottom: 1.5em !important;
}

.cls-1 {
    fill: #bf202f;
}

.back-icon-wrapper {
    vertical-align: 3.25em;
    display: inline-block;
    width: 10%;
    margin-left: 2em;
    cursor: pointer;
}

.inventory-panel-title {
    position: absolute;
    right: 1em;
    font-size: 4.25em;
    font-weight: bold;
}

.organization-header {
    display: inline-flex;
    padding-left: 15px;
    margin-bottom: 0px !important;
    width: 85%;
    height: 7em;
}

.organization-icon {
    border-radius: 50%;
    object-fit: contain;
    height: 100%;
}

.organization-title-wrapper {
    margin-top: 3px;
    margin-left: 15px;
}

.organization-title {
    display: block;
    font-weight: bolder;
    margin-top: 2px;
    margin-bottom: 0px;
}

.descriptive-subtext {
    display: block;
    font-size: 15px;
    font-style: italic;
    color: var(--gray);
    font-weight: 100;
}
