.inventory-panel-wrapper {
    padding: 2em 1em;
    text-overflow: unset !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.search-form {
    width: 70%;
}

.search-bar {
    text-align: right;
}

.search-field {
    display: inline-block;
    width: 65%;
}

.search-bar-icon {
    vertical-align: middle;
    margin-left: 0.5em;
    margin-right: 0.5em;
}


.inventory-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em 3em;
}
