.page-wrapper {
    padding: 0.5em 1em;
}

.fa-user-circle {
    vertical-align: -2px;
}

.page-title {
    font-weight: bolder;
    color: #BF202F;
    letter-spacing: 0.5px;
    padding-left: 1.5em;
}
