<div class="page-wrapper">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">My Account <i class="fas fa-user-circle"></i></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-sm-12 mx-auto">
            <app-profile-summary-pane [user]="user" [profile]="profile"></app-profile-summary-pane>
        </div>
        <div class="col-lg-8 col-sm-12 mx-auto">
            <app-profile-detail-pane></app-profile-detail-pane>
            <app-credential-pane></app-credential-pane>
        </div>
    </div>
</div>
