<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 mx-auto">
        <div class="panel-wrapper go-back" (click)="goBack()">
            <div class="back-icon-wrapper">
                <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="52.5" viewBox="0 0 43.166 75.505">
                    <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back" class="cls-1" d="M24.263,43.936,52.832,15.39A5.4,5.4,0,1,0,45.19,7.77L12.822,40.115a5.385,5.385,0,0,0-.157,7.44l32.5,32.57a5.4,5.4,0,0,0,7.642-7.62Z" transform="translate(-11.251 -6.194)"/>
                </svg>
            </div>
            <div class="organization-header shadow bg-white rounded-pill login-for mb-lg-3 mb-0">
                <img class="organization-icon" [src]="this.org.photoURL"/>
                <h2 class="organization-title-wrapper">
                    <span class="organization-title">{{this.org.name}}</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 mx-auto">
        <h1 class="inventory-panel-title">{{ this.title }}</h1>
    </div>
</div>
