.pane-wrapper {
    padding: 1em 1.25em;
    border-radius: 3mm !important;
    height: 31.25em;
}

.control-button-wrapper {
    position: absolute;
    top: 0.75em;
    right: 1.75em;
}

.control-btn {
    font-size: 18px;
    margin-right: 5px;
    // border: none;
}

.control-btn:focus {
    box-shadow: none;
}

.dynamic-title {
    font-size: 25px;
    margin-bottom: 0.5em;
}

.left-form-field {
    padding-right: 5px;
}

.mid-form-field {
    padding-right: 5px;
    padding-left: 5px;
}

.right-form-field {
    padding-left: 5px;
}

.location-list {
    margin-top: 8px;
    padding: 0px 10px 8px 8px;
}

.location-list.form-enabled {
    max-height: 55%;
}

.location-list.form-disabled {
    max-height: 90%;
}

.empty-list-msg {
    font-size: 15px;
    text-align: center;
}
