<div class="pane-wrapper shadow bg-white rounded login-for mb-3">
    <h3 class="dynamic-title">{{ currentFormMode.title }}</h3>
    <ng-template [ngIf]="locations !== undefined" [ngIfElse]="loadingIcon">
        <div class="control-button-wrapper">
            <button
                *ngFor="let button of currentFormMode.buttons"
                [ngClass]="button.classes"
                [innerHTML]="button.title"
                (click)="button.click()"
            ></button>
        </div>
        <div [hidden]="!currentFormMode.displayLocationForm">
            <form [formGroup]="locationForm" class="locationForm">
                <div class="form-group">
                    <input class="form-control" placeholder="Location Name" formControlName="name" />
                </div>
                <div class="row form-group">
                    <div class="col-8 left-form-field">
                        <input type="text" class="form-control" placeholder="Street Address" formControlName="streetNumber" />
                    </div>
                    <div class="col-4 right-form-field">
                        <input type="text" class="form-control" placeholder="City" formControlName="city" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4 left-form-field">
                        <input type="text" class="form-control" placeholder="Prov./State" formControlName="provState" />
                    </div>
                    <div class="col-4 mid-form-field">
                        <input type="text" class="form-control" placeholder="Postal Code" formControlName="postalCode"/>
                    </div>
                    <div class="col-4 right-form-field">
                        <input type="text" class="form-control" placeholder="Country" formControlName="country" />
                    </div>
                </div>
            </form>
        </div>
        <ng-template [ngIf]="locations.length > 0" [ngIfElse]="emptyList">
            <hr style="margin: 0;">
            <div class="pre-scrollable location-list" [ngClass]="currentFormMode.displayLocationForm ? 'form-enabled' : 'form-disabled'">
                <app-location-list-item
                    *ngFor="let locItem of locations"
                    [location]="locItem"
                    (click)="onSelectLocation(locItem)"
                    (editButtonClick)="onLocationEditInitiate($event)"
                    (deleteButtonClick)="onLocationDelete($event)"
                ></app-location-list-item>
            </div>
        </ng-template>
        <ng-template #emptyList>
            <hr style="margin-top: 0;">
            <p class="empty-list-msg">This organization<br>currently does not have any location.</p>
        </ng-template>
    </ng-template>
    <ng-template #loadingIcon>
        <hr style="margin-top: 0;">
        <app-loading-icon message="Fetching locations' information"></app-loading-icon>
    </ng-template>
</div>
