<div class="profile-wrapper shadow bg-white rounded login-for mb-3">
    <div class="row">
        <div class="col-8">
            <h2 class="font-weight-bold">Hello, {{ this.user.displayName }}!</h2>
            <p class="profile-greeting-subtext">Last login: {{ this.user.metadata.lastSignInTime | date: 'short' }}</p>
            <a routerLink="/"><app-corner-edit-button></app-corner-edit-button></a>
        </div>
        <div class="col-4">
            <img *ngIf="this.user.photoURL; else defaultAvatar" class="w-100" src="this.user.photoURL"/>
            <ng-template #defaultAvatar>
                <img class="w-100" src="assets/default-avatar.png"/>
            </ng-template>
        </div>
    </div>
</div>
