.profile-wrapper {
    padding: 0.25em 0.75em;
    border-radius: 3mm !important;
    margin-bottom: 25px !important;
}

.profile-greeting-subtext {
    font-weight: 100;
}

.user-avatar {
    border-radius: 50%;
    max-width: 202px;
}
