.profile-wrapper {
    border-collapse: separate;
    padding: 0.25em 0.75em;
    border-radius: 3mm !important;
    margin-bottom: 25px !important;
}

.profile-greeting-subtext {
    font-weight: 100;
}
