.pane-wrapper {
    padding: 1.5em;
    border-radius: 3mm !important;
}

.product-photo-wrapper {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 2mm;
}

.product-photo {
    object-fit: contain;
    vertical-align: middle;
    max-height: 20em;
    height: 100%;
    width: 100%;
}

.product-title {
    font-size: 3em;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
}

.product-quantity, .product-price {
    font-size: 2em;
}

.quantity-number, .price-number {
    color: #bf202f;
    font-weight: bold;
    width: 3em !important;
}

.price-number {
    border: 1px dashed lightgray !important;
    padding: 1px;
    width: 35%;
}

.product-desc {
    font-size: 15px;
    color: var(--gray);
}

.edit-btn {
    float: right;
    margin-top: -0.5em;
    margin-right: -0.5em;
}

.save-btn {
    cursor: pointer;
}

.price-saved-message {
    font-size: 0.5em;
    font-style: italic;
    vertical-align: middle;
    color: green;
}
