<div class="pane-wrapper shadow bg-white rounded login-for mb-3">
    <div class="product-photo-wrapper">
        <img class="product-photo" [src]="product.photoURL" [alt]="product.name" onerror="this.src='assets/image-notfound-wide.jpg';" />
    </div>
    <div class="pane-body">
        <h2 class="product-title">{{ product.name }}</h2>
        <h3 class="product-quantity">Quantity: <span class="quantity-number">{{ product.total_quantity }}</span></h3>
        <p class="product-desc">Desription: {{ product.description }}</p>
    </div>
    <a routerLink="/notfound" class="edit-btn">
        <app-font-awesome-icon-wrapper faClass="fas fa-edit"></app-font-awesome-icon-wrapper>
    </a>
</div>
