<form [formGroup]="loginForm" (ngSubmit)="onSignIn()" class="shadow bg-white rounded login-form">
    <div class="text-center">
        <img class="logo" src="/assets/logo.png" />
        <h1 class="title">Sign into InvenTurbo</h1>
    </div>
    <div class="form-group">
        <input type="email" formControlName="email" class="form-control" placeholder="Email Address" />
    </div>
    <div class="form-group">
        <input type="password" formControlName="password" class="form-control" placeholder="Password" />
    </div>
    <span class="error">{{ errorMessage.length > 0 ? errorMessage : '&nbsp;' }}</span>
    <button type="submit" class="btn btn-danger submitBtn">Login</button>
    <a id="forgetPwd" routerLink="/forget">Forgot your password?</a>
</form>
<a id="createAcc" class="text-center" routerLink="/register">Create an account</a>
