<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
            <div class="row profile-wrapper shadow bg-white rounded-pill login-for mb-lg-3 mb-0">
                <img class="organization-icon col-2 h-100 w-100" [src]="this.org.photoURL"/>
                <span class="col-9">
                    <h2>
                        <span class="font-weight-bold">{{this.org.name}}</span>
                        <div class="descriptive-subtext">Last transaction: {{lastTransactionTime ? (lastTransactionTime | date: 'medium') : 'N/A'}}</div>
                    </h2>
                </span>
            </div>
        </div>

        <i class="mx-auto bidirectional-arrow fas fa-arrows-alt-h"></i>

        <div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
            <div class="row profile-wrapper shadow bg-white rounded-pill login-for mb-3">
                <img class="organization-icon col-2 h-100 w-100" [src]="this.user.photoURL || 'assets/default-avatar.png'"/>
                <div class="col-9">
                    <h2>
                        <span class="font-weight-bold">{{this.user.displayName}}</span>
                        <div class="descriptive-subtext">Role: {{this.org.position}}</div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
            <div routerLink="/notfound" class="dashboard-button view-pending-orders-icon row profile-wrapper shadow bg-white rounded-pill login-for mb-3">
                <h3 class="col-12 mx-auto text-center font-weight-bold">
                    View pending orders
                </h3>
            </div>
            <div routerLink="/organization/transaction/new" class="dashboard-button create-transaction-icon row profile-wrapper shadow bg-white rounded-pill login-for mb-3">
                <h3 class="col-12 mx-auto text-center font-weight-bold">
                    Create transaction
                </h3>
            </div>
            <div routerLink="/organization/inventory" class="dashboard-button view-inventory-icon row profile-wrapper shadow bg-white rounded-pill login-for mb-3">
                <h3 class="col-12 mx-auto text-center font-weight-bold">
                    View inventory
                </h3>
            </div>
            <div class="dashboard-button dashboard-button-disabled view-analytics-icon row profile-wrapper shadow bg-white rounded-pill login-for mb-3">
                <h3 class="col-12 mx-auto text-center font-weight-bold">
                    View analytics
                </h3>
            </div>
            <div class="dashboard-button dashboard-button-disabled add-personnel-icon row profile-wrapper shadow bg-white rounded-pill login-for mb-3">
                <h3 class="col-12 mx-auto text-center font-weight-bold">
                    Add personnel
                </h3>
            </div>
        </div>

        <!-- offset -->
        <span class="col-1"></span>

        <div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
            <div class="row profile-wrapper shadow bg-white login-for mb-lg-3 mb-0">
                <select [(ngModel)]="filterType" class='form-control custom-select'>
                    <option *ngFor="let filter of filters" value={{filter.id}}>{{ filter.label }}</option>
                </select>
                <div class="w-100" *ngIf="filterType == 'range'; else hr">
                    <hr>
                    From&nbsp;
                    <input [(ngModel)]="filterDateStart" class="form-control d-inline" type="number" min="0" max="99" style='width: 60px'/>
                    &nbsp;to&nbsp;
                    <input [(ngModel)]="filterDateEnd" class="form-control d-inline" type="number" min="0" max="99" style='width: 60px'/>
                    &nbsp;
                    <select [(ngModel)]="filterTimePeriod" class="form-control d-inline" style='width: auto'>
                        <option *ngFor="let timePeriod of timePeriods" value={{timePeriod.value}}>{{ timePeriod.label }}</option>
                    </select>
                    <hr>
                </div>
                <ng-template #hr><hr></ng-template>
                <div class="pre-scrollable w-100">
                    <div
                        *ngFor="let transaction of transactions"
                        class="transaction-list-item row shadow-sm p-3 mb-5 bg-white rounded login-for mb-3 mx-auto w-100"
                        [ngStyle]="this.getTransactionItemBackgroundCss(this.org.photoBackground)"
                    >
                        <ng-template [ngIf]="shouldDisplay(transaction)" [ngIfElse]="hideTransaction">
                            <div class="orglink-item-photo-wrapper col-2">
                                <img class="orglink-item-photo" src="{{this.org.photoURL}}"/>
                            </div>
                            <div class="transaction-item-details col-10 w-100">
                                <span class="font-weight-bold">Status: {{transaction.status}}&nbsp;</span>
                                <span class="transaction-time font-italic">
                                    {{transaction.timeDate | date: 'short'}}
                                    - {{transaction.TransactionItems.length}} item<span *ngIf="transaction.TransactionItems.length != 1">s</span>
                                    <span *ngIf="transaction.totalPrice">&nbsp;({{transaction.totalPrice | currency}})</span>
                                </span>
                                <div class="float-left text-left align-middle d-inline w-100">
                                    <span>{{transaction.transactionType}} Transaction&nbsp;</span>
                                    <a routerLink="/organization/transaction/view/{{transaction.tid}}" class="transaction-link">(ID {{transaction.tid}})</a>
                                    <i routerLink="/organization/transaction/view/{{transaction.tid}}" class="fas fa-external-link-square-alt cursor-pointer"></i>
                                    <h4 routerLink="/organization/transaction/view/{{transaction.tid}}" class="transaction-link-icon float-right text-right align-middle d-inline fas fa-external-link-alt"></h4>
                                </div>
                                <a *ngIf="transaction.currentUser" href="{{this.getProfileLink(transaction.currentUser.uid)}}" class="transaction-link" style="float: left;">{{transaction.currentUser.displayName}}</a>
                            </div>
                        </ng-template>
                        <ng-template #hideTransaction></ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
