<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="dashboard-wrapper text-left">
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="row profile-wrapper shadow bg-white rounded-pill login-for mb-3">
                <img class="organization-icon col-2 h-100 w-100" src="../../../../assets/default-avatar.png"/>
                <span class="col-9">
                    <h2>
                        <span class="font-weight-bold">Your company inc.</span>
                        <div class="descriptive-subtext">Last transaction: </div>
                    </h2>
                </span>
            </div>
        </div>
        
        <i class="bidirectional-arrow fa fa-arrows-h"></i>
        
        <div class="col-5 mx-auto">
            <div class="row profile-wrapper shadow bg-white rounded-pill login-for mb-3">
                <img class="organization-icon col-2 h-100 w-100" src="../../../../assets/default-avatar.png"/>
                <div class="col-9">
                    <h2>
                        <span class="font-weight-bold">Sam</span>
                        <div class="descriptive-subtext">Role: </div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>