<div style="font-family: Montserrat; font-weight: 600;">
  <form [formGroup]="registerForm" style="float: left; padding: 20px; background-color: #f0f0f0; display: block; margin-left: 100px; min-width: max-content; width: 30vw">
    <h1 style="font-weight: 600; font-family: Montserrat; padding-bottom: 10px; display: block; margin-left: auto; margin-right: auto">Personal</h1>
    <div class="form-group">
      <div class="form-group">
        <label>Display Name</label>
        <input type="text" formControlName="displayedName" class="form-control">
      </div>
      <label>Email address</label>
      <input type="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <label class="error">{{errorMessage}}</label>
      <label class="success">{{successMessage}}</label>
    </div>
    <div class="form-group">
      <label>Password Confirm</label>
      <input type="password" class="form-control" formControlName="passwordConfirm">
      <label class="error">{{errorMessage}}</label>
      <label class="success">{{successMessage}}</label>
    </div>
    <div class="form-group">
      <label>Phone (optional)</label>
      <input type="text" formControlName="phone" class="form-control">
    </div>
    <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
    <button style="margin-left: 20px; float: right; width: max-content;" type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Register with Google</button>
  </form>
  
  <form [formGroup]="registerForm2" style="float: right; padding: 20px; background-color: #f0f0f0; display: block; margin-right: 100px; min-width: max-content; width: 30vw">
    <h1 style="font-weight: 600; font-family: Montserrat; padding-bottom: 10px; display: block; margin-left: auto; margin-right: auto">Organization</h1>
    <div class="form-group" style="float: right; padding: 20px; background-color: #f0f0f0; max-width: 40vw; display: block; margin-right: 50px;">
      <label>Organization Activation Code</label>
      <input type="email" formControlName="email" class="form-control">
      <button style="margin-top: 20px" type="submit" (click)="tryRegister2(registerForm2.value)" class="btn btn-default">Activate</button>
    </div>    
  </form>
</div>