.pane-wrapper {
    padding: 0.25em 0.65em;
    border-radius: 3mm !important;
    margin-bottom: 25px !important;
}

.profile-photo-wrapper {
    position: relative;
    text-align: center;
}

.profile-photo {
    border-radius: 50%;
    max-width: 202px;
}

.descriptive-text {
    left: 0;
    top: calc(50% - 13px);
    position: absolute;
    text-align: center;
    width: 100%;
    display: none;
    color: white;
    cursor: pointer;
}

.descriptive-text:hover {
    display: inline;
}

.profile-photo:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.profile-photo:hover ~ .descriptive-text {
    display: inline;
    color: white;
}

.darken {
    filter: brightness(50%);
}

.remove-avatar-btn {
    color: #bf202f;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    top: 0;
}

.remove-avatar-btn:focus {
    outline: none;
}

.profile-name {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

p {
    text-align: center;
    margin-bottom: 0.5em;
}
