<div class="pane-wrapper shadow bg-white rounded login-for mb-3">
    <div *ngIf="!uploadingAvatar; else loadingIcon" class="profile-photo-wrapper">
        <input id="avatarInput" type="file" name="avatar" (change)="onAvatarChange($event)" hidden />
        <label for="avatarInput">
            <img [src]="user.photoURL || 'assets/default-avatar.png'" [ngClass]="profileImage.classes" />
            <span class="descriptive-text" (mouseenter)="darkenProfileImage()" (mouseleave)="brightenProfileImage()">Click to change</span>
        </label>
        <button
            *ngIf="user.photoURL"
            class="remove-avatar-btn"
            (click)="onAvatarRemove()"
        >
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
    <ng-template #loadingIcon>
        <app-loading-icon></app-loading-icon>
    </ng-template>
    <p class="profile-name text-center">
        {{ profile.firstName }} {{ profile.lastName }}
    </p>
    <p class="profile-bio">{{ profile.bio }}</p>
</div>
