<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-1">
          <img (click)="onReturn()" class="back-arrow" src="https://static.thenounproject.com/png/18925-200.png"/>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 inventory-pill">
            <div class="row profile-wrapper shadow bg-white rounded-pill login-for mb-lg-3 mb-0">
                <img class="organization-icon col-1" src="https://cdn2.bigcommerce.com/server1500/ac84d/products/1269/images/2876/Nike_Logo__97043.1340418202.380.380.jpg?c=2"/>
                <span class="col-6">
                    <h2>
                        <span class="font-weight-bold">NIKE Canada</span>
                        <div class="descriptive-subtext">Last transaction: {{this.lastTransactionTime | date: 'medium'}}</div>
                    </h2>
                </span>
            </div>
        </div>
        <div class="col-5">
          <h2 class="inventory-header">
              <span class="font-weight-bold">Inventory</span>
          </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 searchBarContainer">
            <input class="searchBar" type="text" placeholder="Search products">
        </div>
    </div>
</div>