@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700");

body {
    font-family: Montserrat;
    font-weight: 600;
    background-color: #F9F8F7;
}

.btn {
    border-radius: 2.5cm;
}

p {
    color: #707070;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    height: 100vh;
}
