@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700");

body {
    font-family: Montserrat !important;
    font-weight: 600 !important;
}

.btn {
    border-radius: 2.5cm !important;
}

p {
    color: #707070;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-x: hidden;
    height: 100vh !important;
    background-color: #F9F8F7;
}
