@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700");

body {
    font-family: Montserrat;
    font-weight: 600;
    background-color: #F9F8F7;
    overflow-x: hidden;
}

.btn {
    border-radius: 2.5cm;
}

