<div class="map-wrapper shadow bg-white rounded login-for mb-3">
    <ng-template [ngIf]="locations !== undefined" [ngIfElse]="loadingIcon">
        <ng-template [ngIf]="locations.length > 0" [ngIfElse]="emptyMap">
            <ng-template [ngIf]="isValidGeoCoord" [ngIfElse]="invalidGeoCoord">
                <google-map
                    width="100%"
                    [zoom]="15"
                    [center]="initialMapCenter"
                    (mapClick)="onMapClick()"
                >
                    <map-marker
                        #markerElem
                        *ngFor="let loc of locations"
                        [position]="loc.geoCoord"
                        [title]="loc.name"
                        (mapClick)="onLocationSelect(markerElem, loc)"
                    ></map-marker>
                    <map-info-window>
                        <h4 class="map-info-title">{{ selectedLocation.name }}</h4>
                        <p class="map-info-address">
                            {{ selectedLocation.streetNumber }}<br>
                            {{ selectedLocation.city }} {{ selectedLocation.provState }} {{ selectedLocation.postalCode }}<br>
                            {{ selectedLocation.country }}
                        </p>
                    </map-info-window>
                </google-map>
            </ng-template>
            <ng-template #invalidGeoCoord>
                <div class="text-center">
                    <h3 class="map-msg-title">Oops!</h3>
                    <p class="map-msg-sm">
                        This location might be having a missing, invalid or ambiguous address.<br>
                        Consider changing it on the left to enable map view.
                    </p>
                </div>
            </ng-template>
        </ng-template>
        <ng-template #emptyMap>
            <p class="text-center map-msg-md">This organization does not have any locations.</p>
        </ng-template>
    </ng-template>
    <ng-template #loadingIcon>
        <app-loading-icon message="Fetching locations' information"></app-loading-icon>
    </ng-template>
</div>
