.map-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 31.25em;
}

.map-info-title {
    font-size: 15px;
}

.map-info-address {
    margin-bottom: 0;
}

.map-msg-title {
    font-weight: bold;
}

.map-msg-sm {
    font-size: 15px;
}

.map-msg-md {
    font-size: 18px;
}
