<form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="shadow bg-white rounded reset-pwd-form">
    <h1 class="title">Reset Your Password</h1>
    <p>Enter the email that associated with your InvenTurbo account</p>
    <div class="form-group email-wrapper">
        <input type="email" formControlName="email" class="form-control" placeholder="Email Address" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-danger">Send Password Reset Link</button>
    </div>
</form>
