<form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="shadow bg-white rounded reset-pwd-form">
    <h1 class="title">Reset Your Password</h1>
    <p>Enter the email address associated with your InvenTurbo account</p>
    <div class="form-group email-wrapper">
        <input type="email" formControlName="email" class="form-control" placeholder="Email Address" />
    </div>
    <p class="error-msg">{{ errorMessage ? errorMessage : '&nbsp;' }}</p>
    <div class="text-center">
        <button type="submit" [ngClass]="resetBtn.classes" [disabled]="resetBtn.disabled" autocomplete="email">{{ resetBtn.message }}</button>
    </div>
</form>
