<div style="font-family: Montserrat; font-weight: 600;">
  <form [formGroup]="resetPasswordForm" style="padding: 20px; background-color: #f0f0f0; max-width: 40vw; display: block; margin-left: auto; margin-right: auto;">
    <h1 style="padding-bottom: 10px; display: block; margin-left: auto; margin-right: auto">Reset Your Password</h1>
    <label>Enter your email address to reset your password</label>
    <input type="email" formControlName="email" class="form-control">
    <button style="margin-top: 20px" type="submit" (click)="tryResetPassword(resetPasswordForm.value)" class="btn btn-default">Reset Password</button>
  </form>
</div>